.main {
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.main section {
    display: flex;
    flex-direction: column;
    gap: 5vh;
}
